.page {
    background: linear-gradient(rgb(175, 10, 181), rgb(107, 0, 246));
    border-radius: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 16px;
}

.source li {
    padding: 10px;
}