.page {
    background: linear-gradient(rgb(197, 8, 197), rgb(246, 0, 156));
    border-radius: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 16px;
}

.source li {
    padding: 10px;
}