.page {
    background: linear-gradient(rgb(197, 8, 197), rgb(246, 0, 156));
    border-radius: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
}



.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.test {
    background: rgb(132, 10, 239);
    border-radius: 16px;
    margin: 10px;
    padding: 100px;
    max-width: 200px;
    max-height: 10px;
    box-shadow: rgba(255, 6, 218, 0.1) 0 4px 12px;
    transition: all .2s cubic-bezier(.05,.51,.72,1);
}

.test:hover {
    box-shadow: rgb(65, 59, 59) 0 7px 22px 0;
    transform: scale(1.04);
}

 a {
    color: white;
    text-align: center;
 }


@media (max-width: 500px) {
.container {
    flex-direction: column;
}
}
