table {
    margin-top: 12px;
    border: solid 10px;
    border-radius: 10px;
}

td {
    padding: 10px;
    border: solid 1px;
}

.top-half {
    position: relative;
}

.bottom-half {
    position: relative;
}