.page {
    background-image: linear-gradient(rgb(58, 0, 128), rgb(0, 255, 110));
    border-radius: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
}

ul {
    margin-top: 10px;
    cursor: pointer;
}

li {
    padding: 10px;
}

.bottom-half {
    border-radius: 16px;
    height: 1000px;
    width: 950px;
}

.start-text {
    max-width: 40vw;
    margin-left: 3vw;
}

h1 {
    margin-left: 3vw;
}