footer {
    color: white;
    background-color: blueviolet;
    border-radius: 16px;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

footer {
    margin-left: 5vw;
    margin-right: 5vw;
}


