footer {
    color: white;
    background-color: blueviolet;
    border-radius: 16px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer {
    margin-left: 5vh;
    margin-right: 5vh;
}
