body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(40, 0, 60);
}

.navbar {
    background-color: white;
    overflow: hidden;
    padding: 12px 16px;
}

.navbar a {
float: right;
text-align: center;
padding: 6px;
}

.navbar a:hover {
    background-color: black;
    columns: white;
}
