body {
    background-image: url('https://www.amsterdam-dance-event.nl/uploads/singles/_1200x800_crop_center-center_none/Awakening_Gashouder_Patrick-van-Beek_16-10-14-20.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 40%;
}
