* {
    box-sizing: border-box;
  }

.flex-container {
    width: 10h;
    display: flex;
    text-align: center;
}

.flex-container div {
    width: 300px;
    text-align: center;
    font-size: 18px;
    margin: 15px;
}

.flex-left {
    margin-left: 150px;
    padding: 10px;
    flex: 50%;
}

.flex-right {
    padding: 10px;
    flex: 50%;
}

@media (max-width: 800px) {
    .flex-container {
        margin-left: 0px;
      flex-direction: column;
    }
  }