.top-half {
    position: relative;
}

.bottom-half {
    position: relative
}

.flex-left {
    position: absolute;
    top: 15vh;
    left: 350px;
    max-width: 300px;
}

.flex-right {
    position: absolute;
    top: 15vh;
    left: 700px;
    max-width: 300px;
}










/* * {
    box-sizing: border-box;
}

.flex-container {
    width: 10h;
    display: flex;
    text-align: center;
    padding-left: 100px;
}

.flex-container div {
    width: 300px;
    text-align: center;
    font-size: 18px;
    margin: 15px;
}

.flex-left {
    padding: 10px;
    flex: 50%;
}

.flex-right {
    padding: 10px;
    flex: 50%;
}

@media (max-width: 800px) {
    .flex-container {
        margin-left: 0px;
        flex-direction: column;
    }
} */