header {
    background-image: url(/images/pacman.jpg);
    background-size: cover;
    border-radius: 16px 16px 0 0;
    margin-left: 5vw;
    margin-right: 5vw;
}

.name {
    margin-top: 45vh;
    margin-left: 5vw;
   }

.bottom-half {
    background-image: url(/images/blue.jpg);
  background-size: cover;
  border-radius: 0 0 16px 16px;
  margin-top: -22px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 100px ;
}
  










/* * {
    box-sizing: border-box;
}

.flex-container {
    width: 10h;
    display: flex;
    text-align: center;
    padding-left: 100px;
}

.flex-container div {
    width: 300px;
    text-align: center;
    font-size: 18px;
    margin: 15px;
}

.flex-left {
    padding: 10px;
    flex: 50%;
}

.flex-right {
    padding: 10px;
    flex: 50%;
}

@media (max-width: 800px) {
    .flex-container {
        margin-left: 0px;
        flex-direction: column;
    }
} */